<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Placement Experiences</title>
    <link rel="icon" href="../../static/img/favicon.png" sizes="40x40" type="image/png">
    <!-- EXTERNAL CSS LINK  -->
    <link rel="stylesheet" href="../../static/css/perfect.css">
    <!-- GOOGLE FONT LINKS -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato:700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Muli:500&display=swap"
      rel="stylesheet"
    />
    
    <!-- FONTAWESOME LINK  -->
    <script src="https://kit.fontawesome.com/4a3b1f73a2.js" crossorigin="anonymous"></script>
    <!-- SLICK SLIDER LINK -->
    <!-- <script src="http://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> -->
    <script src="../../static/jQuery3.4.1.js"></script> 
    <script src="../../static/jQuery.js "></script> 
    <script src="../../clickme.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
   <script src="../../getdetail.js"></script>
        <script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });
    </script>
   
    <style>
      .aboutMe {
        background-color: rgb(235, 235, 235);
        height: 100vh;
      }
    </style>
  </head>
  <body>
   {{!-- <div class="headerspace"></div> --}}
    <div class="wrapper">

      <!-- NAVIGATION STARTS (DESKTOP VIEW AFTER 768px) ------------------->
      <nav class="navBar" >
        <div id="navMenu ">
          <a href="#intro" class="logo">
            <span><img src="static/img/favicon.png" width="30" height="30" class="d-inline-block align-top" id="mainimg"alt=""><h3>OUR EXPERIENCES</h3></span>
            <span id="profession">A place where all fellow IIITians can share their placement Experiences</span>
          </a>
          {{!-- <a href="#intro" id="addprop" class="navItems">&nbsp Add New Note &nbsp <button >+</button></a> --}}
          {{!-- <a href="#" class="navItems" id="userimg"><script>getuserimg()</script>  </a> --}}
          <a href="#" class="navItems" id="userimg"><script>getuserimg()</script>  </a>
            <a href="/addcompany" id="addprop" class="navItems"> &nbspAdd New Placement Experience <img src="https://img.icons8.com/color/50/000000/development-skill.png" width="30" height="30" class="d-inline-block align-top"alt=""></a>
          
        
          {{!-- <a href="#experience" class="navItems"> experience </a>
          <a href="#codes" class="navItems">codes</a>
          <a href="#publications" class="navItems"> Publications </a>
          <a href="#education" class="navItems"> education </a>
          <a href="#skills" class="navItems"> skills </a>
          <a href="#projects" class="navItems"> projects </a>
          <a href="#blogs" class="navItems"> blogs </a> --}}
          <a href="" id="userimg" class="navItems" ><img src="https://img.icons8.com/officel/50/000000/active-directory.png" width="30" height="30" class="d-inline-block align-top"alt="">&nbsp&nbsp Available Companies</a>
            {{#each values}}
                <a href="/specificcompany?company={{companyname}}" class="navItems" ><img src="https://img.icons8.com/dusk/64/000000/development-skill.png" width="30" height="30" class="d-inline-block align-top"alt=""> {{companyname}}</a>
            {{/each}}
          <a href="#contactsection" class="navItems" id="aboutus">&nbsp&nbsp About Us&nbsp&nbsp<img src="static/img/book.png" width="25" height="25" class="d-inline-block align-top"alt=""> </a>
          
         <!--  <a href="#contact" class="navItems"> contact </a>
          <a
            href="https://drive.google.com/file/d/1YvdI33VvD_hUyce0oCST8GoOBzs8slr5/view?usp=sharing"
            target="_blank"
            class="navItems resumeHover"
          >
            resume
          </a> -->
          {{!-- <a href="https://drive.google.com/file/d/11fclHeJgQsLLJ2iPoEcPRaPL4DNW99lB/view?usp=sharing" class="navItems">resume</a> --}}
        </div>
      </nav>
      <!-- NAVIGATION ENDS --------------------->

      <!-- NAVIGATION STARTS (DESKTOP VIEW BEFORE 768px) ------------------->
      <nav class="topHeading" id="logoHeading">

        <div class="mobileViewNavbar">

          <div id="toggleOpen"> &#9776; </div>
  
          <div class="mobileViewNavmenu">
            {{!-- <a href="#intro" class="mobileViewLogo">
                <div id="mobmainarea">
                    <textarea id="text"></textarea>
                </div> 
            </a> --}}
          </div>
        </div>

      </nav>
      <!-- NAVIGATION ENDS  ------------------->

      <!-- HIDDEN NAVIGATION ITEMS STARTS (MOBILE VIEW) -->
      <nav class="hiddenMenu" id="showHide">
        <!-- <div id="toggleClose"> &#10005; </div> -->
        <!-- aeta mobile paen -->
        <div id="toggleClose"></div>
        <div id="navMenu hiddenItems">
          {{!-- <a href="#about" class="navItems about" id="navItems"> about </a>
          <a href="#experience" class="navItems experience" id="navItems"> experience </a>
          <a href="#projects" class="navItems projects" id="navItems"> projects </a>
          <a href="#skills" class="navItems skills" id="navItems"> skills </a>
          <a href="#education" class="navItems education" id="navItems"> education </a>
          <a href="#contact" class="navItems contact" id="navItems"> contact </a>
          <a href="#blogs" class="navItems"> blogs </a> --}}
          
          {{!-- <a href="https://1drv.ms/b/s!AmsFhTxIwCaRamjuLNw4C_imleE?e=hEENhi" target="_blank" class="navItems resumeHover" id="navItems">resume</a> --}}
            {{#each values}}
                <a href='#'+{{companyname}} class="navItems"  > {{companyname}} </a>
            {{/each}}
            <a href="#contactsection" class="navItems"> About Us </a>
        </div>

      </nav>
      <!-- HIDDEN NAVIGATION ITEMS ENDS -->

      <!-- SECTION STARTS ->

      <!-- INTRO SECTION STARTS -->
      <nav class="navbar  navbar-expand-lg navbar-light" style="background-color: rgb(235, 235, 235);" id="navi">
            <a class="navbar-brand" href="#">
                <img src="static/img/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
                OUR EXPERIENCES
              </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav active">
                
                <li class="nav-item active">
                  <a class="nav-link" href="/"><img src="https://img.icons8.com/fluent/96/000000/home.png" width="30" height="30" class="d-inline-block align-top"alt=""> <span class="sr-only">(current)</span></a>
                </li>
                 {{!-- <li class="nav-item active">
                  <a class="nav-link" href="/bunk"><img src="https://img.icons8.com/ios-filled/100/000000/attendance-mark.png" width="30" height="30" class="d-inline-block align-top"alt=""> <span class="sr-only">(current)</span></a>
                </li> --}}
                <li class="nav-item active">
                  <a class="nav-link" href="/placement"><img src="https://img.icons8.com/plasticine/50/000000/client-company.png" width="30" height="30" class="d-inline-block align-top"alt=""> <span class="sr-only">Placement Experience</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/addfolder"><img src="https://img.icons8.com/cotton/64/000000/add-folder--v1.png" width="30" height="30" class="d-inline-block align-top"alt=""><span class="sr-only">(current)</span></a>
                </li>
                {{!-- <li class="nav-item active">
                  <a class="nav-link" href="/myled"><img src="https://img.icons8.com/dusk/64/000000/led-diode.png" width="30" height="30" class="d-inline-block align-top"alt=""><span class="sr-only">(current)</span></a>
                </li> --}}
                {{!-- <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
                </li> --}}
                 <li class="nav-item active">
                  <a class="nav-link" href="/login"><img src="https://img.icons8.com/color/240/000000/shutdown--v1.png" width="30" height="30" class="d-inline-block align-top"alt=""><span class="sr-only">(current)</span></a>
                </li>
                  <li>
                            <div class="dropdown" id="givespace">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Available Companies
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                           
                                    {{#each values}}
                                        <a class="dropdown-item" href="/specificcompany?company={{companyname}}"><img src="https://img.icons8.com/dusk/64/000000/development-skill.png" width="30" height="30" class="d-inline-block align-top"alt="">{{companyname}}</a>
                                    {{/each}}
                                </div>
                                </div>
                </li>
                {{!-- <button type="button" id="logoutbutton" onclick="location.href='./login'" class="btn btn-danger float-right">LogOut</button> --}}
              </ul>
            </div>
          </nav>
    <section class="section scrollspy" id="companycommonintro" style="background-color:white;">
        <h1 id="placementintro"><img src="static/img/noteimg.png" width="30" height="30" class="d-inline-block align-top"alt="">FEW WORDS
        </h1>
        <div id="placementtext">
          <span  style="color: rgb(184, 49, 47); font-family: Georgia, serif; font-size: 18px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline !important;"><strong>The Placement Cell plays a crucial role in locating job opportunities for Under Graduates and Post Graduates passing out from the 
         college by keeping in touch with reputed firms and industrial establishments. 
         The Placement Cell operates round the year to facilitate contacts between companies and graduates.
          The number of students placed through the campus interviews is continuously rising. On invitation, many reputed industries visit the institute to conduct interviews. We have been successful in maintaining our high placement statistics over the years and the fact that our students bear the recession blues with record breaking placements itself is a testimony to our quality. Our ingenious alumnae have set new standards in the corporate world through their estimable contributions and it is my firm conviction that we will continue that legacy in the years to come.</strong></span>
        </div>
       
          {{!-- <a  class="btn btn-info btn-lg commonrefresh" onclick="myrefreshFunction(document.getElementById('{{name}}').id)">
                     <span class="glyphicon glyphicon-refresh"></span> Refresh
                     </a> --}}
                    
                    
      </section>
        
      <!-- CONTACT SECTION STARTS -->
      <section class="section scrollspy" id="contactsection">
        
        <h1>ABOUT US</h1>
        <div class="commonProperty contactSection" id="divcontact">
          <div class="box box1">
            <a href="https://twitter.com/lit__guy" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
          <div class="box box2">
            <a href="https://www.instagram.com/khitish_panigrahi/" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
          </div>
          <div class="box box3">
            <a href="https://www.linkedin.com/in/babayaga9823" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
          </div>
          <div class="box box4">
            <a href="mailto:babayaga9823@gmail.com" target="_blank">
            <i class="fas fa-envelope"></i>
          </a>
          </div>
          <div class="box box5">
            <a href="https://github.com/babayaga9823" target="_blank">
            <i class="fab fa-github-alt"></i>
          </a>
          </div>
          <div class="box box6">
            <a href="https://www.quora.com/profile/Khitish-Panigrahi" target="_blank">
              <i class="fab fa-quora"></i>
          </a>
          </div>
        </div>
       
      </section>
      <!-- CONTACT SECTION ENDS -->

      <!-- SECTION ENDS ---------------------------------------------->
    

    <!-- JS LINKS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
 
<!-- Initialize the editor. -->
    <script>
    new FroalaEditor('textarea');
    </script> 
    {{!-- <script src="./index.js"></script>
    <script src="./button.js"></script>
    <script src="./delfun.js"></script> --}}
    <script src="../../static/script.js"></script>
    <script src="../../static/jQuery.js"></script>
    
    <script src="../../static/bootstrap.min.js"></script>
    <script src="../../static/simple-scrollspy.min.js"></script>
    <script>
  new FroalaEditor('.selector', {
    // Set the image upload URL.
    imageUploadURL: '/upload_image'
  })
</script>
    
    <!-- <script>
      window.addEventListener("hashchange", function () {
        window.scrollByPages(1);
      });
    </script> -->
   
    <div class="footerspace"> {{>footer}}</div>
  </body>
</html>
