<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>OUR BUNK MANAGER</title>
    <link rel="icon" href="../../static/img/favicon.png" sizes="40x40" type="image/png">
    <!-- EXTERNAL CSS LINK  -->
    <link rel="stylesheet" href="../../static/css/perfect.css">
    <!-- GOOGLE FONT LINKS -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato:700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Muli:500&display=swap"
      rel="stylesheet"
    />
    
    <!-- FONTAWESOME LINK  -->
    <script src="https://kit.fontawesome.com/4a3b1f73a2.js" crossorigin="anonymous"></script>
    <!-- SLICK SLIDER LINK -->
    <!-- <script src="http://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> -->
    <script src="../../static/jQuery3.4.1.js"></script> 
    <script src="../../static/jQuery.js "></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    
        <script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });
    </script>
   
    <style>
      .aboutMe {
        background-color: rgb(235, 235, 235);
        height: 100vh;
      }
    </style>
  </head>
  <body>
   {{!-- <div class="headerspace"></div> --}}
    <div class="wrapper">

      <!-- NAVIGATION STARTS (DESKTOP VIEW AFTER 768px) ------------------->
      <nav class="navBar" >
        <div id="navMenu ">
          <a href="#intro" class="logo">
            <span><img src="static/img/favicon.png" width="30" height="30" class="d-inline-block align-top" id="mainimg"alt=""><h3> Bunk Manager</h3></span>
            <span id="profession">A place to help folks manage their attendence</span>
          </a>
          {{!-- <a href="#intro" id="addprop" class="navItems">&nbsp Add New Note &nbsp <button >+</button></a> --}}
            <a href="#" class="navItems" id="userimg"><script>getuserimg()</script>  </a>
          <a href="/bunk" id="addprop" class="navItems">  <img src="https://img.icons8.com/cotton/64/000000/student-male.png" width="30" height="30" class="d-inline-block align-top"alt="">&nbspAdd New Subject</a>
          <a href="/analysis?subject={{subjectname}}" class="navItems" ><img src="https://img.icons8.com/dusk/64/000000/development-skill.png" width="30" height="30" class="d-inline-block align-top"alt="">&nbsp&nbspDetailed Analysis Of {{subjectname}}</a>
           <a href="" id="userimg" class="navItems" ><img src="https://img.icons8.com/color/48/000000/add-subnode.png" width="30" height="30" class="d-inline-block align-top"alt="">BUNKED DATES OF {{subjectname}} </a>
          {{!-- <a href="#experience" class="navItems"> experience </a>
          <a href="#codes" class="navItems">codes</a>
          <a href="#publications" class="navItems"> Publications </a>
          <a href="#education" class="navItems"> education </a>
          <a href="#skills" class="navItems"> skills </a>
          <a href="#projects" class="navItems"> projects </a>
          <a href="#blogs" class="navItems"> blogs </a> --}}
    
            {{#each values}}
                <a href="#{{dates}}" class="navItems" ><img src="https://img.icons8.com/plasticine/100/000000/calendar.png" width="30" height="30" class="d-inline-block align-top"alt=""> {{dates}}</a>
            {{/each}}
          <a href="#contactsection" class="navItems" id="aboutus">&nbsp&nbsp About Us&nbsp&nbsp<img src="static/img/book.png" width="25" height="25" class="d-inline-block align-top"alt=""> </a>
          
         <!--  <a href="#contact" class="navItems"> contact </a>
          <a
            href="https://drive.google.com/file/d/1YvdI33VvD_hUyce0oCST8GoOBzs8slr5/view?usp=sharing"
            target="_blank"
            class="navItems resumeHover"
          >
            resume
          </a> -->
          {{!-- <a href="https://drive.google.com/file/d/11fclHeJgQsLLJ2iPoEcPRaPL4DNW99lB/view?usp=sharing" class="navItems">resume</a> --}}
        </div>
      </nav>
      <!-- NAVIGATION ENDS --------------------->

      <!-- NAVIGATION STARTS (DESKTOP VIEW BEFORE 768px) ------------------->
      <nav class="topHeading" id="logoHeading">

        <div class="mobileViewNavbar">

          <div id="toggleOpen"> &#9776; </div>
  
          <div class="mobileViewNavmenu">
            {{!-- <a href="#intro" class="mobileViewLogo">
                <div id="mobmainarea">
                    <textarea id="text"></textarea>
                </div> 
            </a> --}}
          </div>
        </div>

      </nav>
      <!-- NAVIGATION ENDS  ------------------->

      <!-- HIDDEN NAVIGATION ITEMS STARTS (MOBILE VIEW) -->
      <nav class="hiddenMenu" id="showHide">
        <!-- <div id="toggleClose"> &#10005; </div> -->
        <!-- aeta mobile paen -->
        <div id="toggleClose"></div>
        <div id="navMenu hiddenItems">
          {{!-- <a href="#about" class="navItems about" id="navItems"> about </a>
          <a href="#experience" class="navItems experience" id="navItems"> experience </a>
          <a href="#projects" class="navItems projects" id="navItems"> projects </a>
          <a href="#skills" class="navItems skills" id="navItems"> skills </a>
          <a href="#education" class="navItems education" id="navItems"> education </a>
          <a href="#contact" class="navItems contact" id="navItems"> contact </a>
          <a href="#blogs" class="navItems"> blogs </a> --}}
          
          {{!-- <a href="https://1drv.ms/b/s!AmsFhTxIwCaRamjuLNw4C_imleE?e=hEENhi" target="_blank" class="navItems resumeHover" id="navItems">resume</a> --}}
            {{!-- {{#each values}}
                <a href='#'+{{name}} class="navItems"  > {{name}} </a>
            {{/each}} --}}
            <a href="#contactsection" class="navItems"> About Us </a>
        </div>

      </nav>
      <!-- HIDDEN NAVIGATION ITEMS ENDS -->

      <!-- SECTION STARTS ------------------------------------------>

      <!-- INTRO SECTION STARTS -->
              <nav class="navbar  navbar-expand-lg navbar-light" style="background-color: rgb(235, 235, 235);" id="navi">
            <a class="navbar-brand" href="#">
                <img src="static/img/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
                OUR BUNK MANAGER
              </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav active">
                
                <li class="nav-item active">
                  <a class="nav-link" href="/"><img src="https://img.icons8.com/fluent/96/000000/home.png" width="30" height="30" class="d-inline-block align-top"alt=""> <span class="sr-only">(current)</span></a>
                </li>
                 {{!-- <li class="nav-item active">
                  <a class="nav-link" href="/bunk"><img src="https://img.icons8.com/ios-filled/100/000000/attendance-mark.png" width="30" height="30" class="d-inline-block align-top"alt=""> <span class="sr-only">(current)</span></a>
                </li> --}}
                
                  <li class="nav-item active">
                  <a class="nav-link" href="/placement"><img src="https://img.icons8.com/plasticine/50/000000/client-company.png" width="30" height="30" class="d-inline-block align-top"alt=""> <span class="sr-only">Placement Experience</span></a>
                </li>
                
                 <li class="nav-item active">
                  <a class="nav-link" href="/myled"><img src="https://img.icons8.com/dusk/64/000000/led-diode.png" width="30" height="30" class="d-inline-block align-top"alt=""><span class="sr-only">(current)</span></a>
                </li>
                {{!-- <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
                </li> --}}
               <li class="nav-item active">
                  <a class="nav-link" href="/login"><img src="https://img.icons8.com/color/240/000000/shutdown--v1.png" width="30" height="30" class="d-inline-block align-top"alt=""><span class="sr-only">(current)</span></a>
                </li>
              
                  <li>
                            <div class="dropdown" id="givespace">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select Dates
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {{#each values}}
                                        <a class="dropdown-item" href="#{{dates}}"><img src="https://img.icons8.com/plasticine/100/000000/calendar.png" width="30" height="30" class="d-inline-block align-top"alt="">{{dates}}</a>
                                    {{/each}}
                                </div>
                                </div>
                </li>

                {{!-- <button type="button" id="logoutbutton" onclick="location.href='./login'" class="btn btn-danger float-right">LogOut</button> --}}
              </ul>
            </div>
          </nav>
      <section class="section scrollspy" id="intro" style="background-color:rgb(235, 235, 235);">
        
        <h1>
            <table style="width:100%">
  <tr>
    <form><img src="https://img.icons8.com/plasticine/100/000000/calendar.png" width="30" height="30" class="d-inline-block align-top"alt="">Add New Bunked Date of <span class="subjecthead">{{subjectname}}</span> &nbsp<input type="text" name="filename" placeholder="Date here" class="form-control newdate">
    <button type="button" id="datesave" onclick="adddate()" class="btn btn-primary float-middle" data-toggle="button" aria-pressed="false" autocomplete="off">
  SAVE
</button>
    
  </tr>
  
</table>
           
        </h1>
        <!-- Search form -->
{{!-- <input class="form-control" type="text" placeholder="Search" aria-label="Search"> --}}
<div id="ps"><p>P.S : Add Bunked Dates/Dates on which you missed to attend {{subjectname}} </p></div>
       <div id="status"></div>
      </section>

      <!-- EXPERIENCE SECTION STARTS -->
     
        
      <!-- CONTACT SECTION STARTS -->
      <section class="section scrollspy" id="contactsection">
        
        <h1>ABOUT US</h1>
        
       
      </section>
      <!-- CONTACT SECTION ENDS -->

      <!-- SECTION ENDS ---------------------------------------------->
    

    <!-- JS LINKS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
 
<!-- Initialize the editor. -->
    <script>
    new FroalaEditor('textarea');
    </script> 
    <script src="./addsubject.js"></script>
    <script src="../../static/script.js"></script>
    <script src="../../static/jQuery.js"></script>
    <script src="../../static/bootstrap.min.js"></script>
    <script src="../../static/simple-scrollspy.min.js"></script>
    <script>
  new FroalaEditor('.selector', {
    // Set the image upload URL.
    imageUploadURL: '/upload_image'
  })
</script>
    
    <!-- <script>
      window.addEventListener("hashchange", function () {
        window.scrollByPages(1);
      });
    </script> -->
   
    <div class="footerspace"> {{>footer}}</div>
  </body>
</html>
